<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>帮助</title>
    <style type="text/css">
    	.container{margin: 80px;padding-bottom: 60px;}
    	a{color: rgba(0,115,192,1);font-weight: 400;font-size: 32pt;}
    	body{background-color: rgba(173, 216, 230, 0.7);}
    	.main{padding-top: 20px;}
    	.library{padding-top: 20px;}
    	div{font-size: 30pt; line-height: 52px;color: rgb(14, 49, 102)}
    	h1{line-height: 90px; margin: 0;}
    	h2{line-height: 70px; margin: 0; margin-top: 60px;}
    	.dash{margin-bottom: 15px;}
    </style>
</head>
<body>
	<div class = "container">
		<div class = "main">
			<h1>清华自习助手使用帮助</h1>
			<img class = "dash" src="../../static/images/dash.png" height = "4px;" width = "800px";>
			<div>欢迎使用清华自习助手~<br>您可以便捷、实时获得自习相关信息，如：&nbsp;<a>人文图书馆</a>&nbsp;座位占用情况，&nbsp;<a>教学楼</a>&nbsp;空余教室情况等。自习之余，我们还可以为您推荐好听的&nbsp;<a>音乐</a>&nbsp;，以及各食堂的&nbsp;<a>美食</a>&nbsp;~<br>下面就请开始愉快的使用之旅吧~！</div>
		</div>
		<div class = "library">
			<h2>人文社科图书馆座位情况实时查询</h2>
			<img class = "dash" src="../../static/images/dash.png" height = "4px;" width = "800px";>
			<div>直接输入包含&nbsp;<a>凯风人文图书馆&nbsp;人文社科图书馆&nbsp;人文图书馆&nbsp;文科馆&nbsp;人文馆&nbsp;文图</a>&nbsp;的任意短语或句子，或在菜单栏中选择&nbsp;<a>上自习</a>&nbsp;进入二级菜单，从中选择&nbsp;<a>文图座位查询</a>&nbsp;，将收到文图当前座位占用情况的图文消息。单击&nbsp;<a>图文消息中的条目</a>&nbsp;可以进入网页查看全部详细信息。</div>
		</div>
		<div class = "library">
			<h2>教室排课情况查询</h2>
			<img class = "dash" src="../../static/images/dash.png" height = "4px;" width = "800px";>
			<div>在菜单栏中选择&nbsp;<a>上自习</a>&nbsp;进入二级菜单，从中选择&nbsp;<a>教室排课查询</a>&nbsp;，或直接输入教室编号，例如&nbsp;<a>6A301，4104，3302</a>&nbsp;，我们将为您提供该教室今天的排课情况。</div>
		</div>
		<div class = "library">
			<h2>教学楼空闲教室情况查询</h2>
			<img class = "dash" src="../../static/images/dash.png" height = "4px;" width = "800px";>
			<div>在菜单栏中选择&nbsp;<a>上自习</a>&nbsp;进入二级菜单，从中选择&nbsp;<a>空闲教室查询</a>&nbsp;后，或直接输入包含关键词&nbsp;<a>教学楼名称&nbsp;地段&nbsp;层数&nbsp;第几大节&nbsp;时间</a>&nbsp;的任意短语或句子，如<br><a>四教</a><br><a>六教C区</a><br><a>三教三段2层</a><br><a>今天第三节五教</a><br><a>明天第二节四教三层</a><br>我们将为您提供符合要求的所有空闲教室。</div>
		</div>
		<div class = "library">
			<h2>音乐推荐</h2>
			<img class = "dash" src="../../static/images/dash.png" height = "4px;" width = "800px";>
			<div>觉得自习太无聊？来点儿音乐！</div>
			<h3>随机推荐音乐</h3>
			<div>在菜单栏中选择&nbsp;<a>摇一摇</a>&nbsp;进入二级菜单，从中选择&nbsp;<a>来点儿音乐</a>&nbsp;，将收到随机从三个维度抽取的三个音乐类型特征以及完全随机的图文消息。单击&nbsp;<a>随便听听</a>&nbsp;或&nbsp;<a>图文头条</a>&nbsp;将进入网页播放器，并向您随机提供一首音乐。</div>
			<h3>按类别推荐</h3>
			<div>在菜单栏中选择&nbsp;<a>摇一摇</a>&nbsp;进入二级菜单，从中选择&nbsp;<a>来点儿音乐</a>&nbsp;，将收到随机从三个维度抽取的三个音乐类型特征以及完全随机的图文消息。单击&nbsp;<a>类型</a>&nbsp;，如&nbsp;<a>平静，纯音乐，钢琴</a>&nbsp;等，将进入网页播放器，并问您随机提供一首属于该类别的音乐。</div>
			<h3>按表情推荐</h3>
			<div>直接在输入框中打出&nbsp;<a>微信表情</a>&nbsp;，我们将根据表情随机提供符合表情表达情绪的音乐。</div>
			<h3>关键词推荐</h3>
			<div>直接在输入框中输入&nbsp;<a>音乐类型</a>&nbsp;，如&nbsp;<a>激烈，摇滚，中文，英文</a>&nbsp;等，，我们将根据类型随机提供属于该类型的音乐。</div>
		</div>
		<div class = "library">
			<h2>食堂美食推荐</h2>
			<img class = "dash" src="../../static/images/dash.png" height = "4px;" width = "800px";>
			<div>在菜单栏中选择&nbsp;<a>摇一摇</a>&nbsp;进入二级菜单，从中选择&nbsp;<a>去哪儿吃饭</a>&nbsp;，将收到随机提供的美食图文消息。</div>
		</div>
		<div class = "library">
			<h2>自习教室推荐</h2>
			<img class = "dash" src="../../static/images/dash.png" height = "4px;" width = "800px";>
			<div>在菜单栏中选择&nbsp;<a>摇一摇</a>&nbsp;进入二级菜单，从中选择&nbsp;<a>去哪儿学习</a>&nbsp;，将收到随机提供的当前空闲教室，我们将从空余教室最多的教学楼中为您随机提供可自习的教室。</div>
		</div>
		<div class = "library">
			<h2>签到</h2>
			<img class = "dash" src="../../static/images/dash.png" height = "4px;" width = "800px";>
			<div>在菜单栏中选择&nbsp;<a>签个到</a>&nbsp;进入二级菜单，从中选择&nbsp;<a>签到</a>&nbsp;，将收到反映最近自习情况的图文消息。</div>
		</div>
	</div>
</body>
</html>