<!DOCTYPE html>
<html>
<head>
<style type = "text/css">
    table {margin: 20px auto auto auto; background-color:rgba(255,255,255,0.3); border-radius: 5px;}
    td {padding: 5px; text-align: center;}
    body {background-color: lightblue;}
    #names {background-color: rgba(192, 192, 192, 0.35);}
</style>
</head>
<body>
<table width="100%">
    <tbody>
        <tr id = "title">
            <td>人文社科图书馆座位使用情况</td>
        </tr>
        <tr id = "names">
            <td>自习室名称</td>
            <td>已用座位数</td>
            <td>空闲座位数</td>
        </tr>
        {% for district in seat %}
            <tr>
                <td>{{district.floor}}</td>
                <td>{{district.takenNum}}</td>
                <td>{{district.leftNum}}</td>
            </tr>
        {% empty %}
            <tr>
                <td>暂时无法获取座位信息</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>		